{% extends 'base.html' %}
{% block content %}
<h1>Top Scorers</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Player</th>
            <th>Team</th>
            <th>Goals</th>
        </tr>
    </thead>
    <tbody>
        {% for item in scorers %}
        <tr>
            <td>{{ item.player.full_name }}</td>
            <td>{{ item.player.team.name }}</td>
            <td><b>{{ item.goals }}</b></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}